In [39]:
# importações
import pandas as pd
import psycopg2

In [56]:
# importando planilha
tabela = pd.read_csv(r'C:\projetos\prospeccao-de-clientes\dados\empresas.csv')
tabela_teste = pd.read_csv(r'C:\projetos\prospeccao-de-clientes\dados\teste.csv')

In [57]:
tabela.head()

,Nº,Razão Social,Nome Fantasia,CNPJ,CNAE Principal,Endereço,Cidade,Estado,País,Email,Telefone,Situação Cadastral
0,1,Peixoto Ltda,S/A Facilis,87.692.354/0001-22,4930-2/01 (Transporte de cargas),"Conjunto de Gomes, 51",Lima,AM,Brasil,melobrenda@moraes.br,0800-387-7840,Inativa
1,2,Carvalho e Filhos Ltda,- ME Voluptatum,07.518.293/0001-42,6201-5/01 (Desenvolvimento de software),"Feira da Conceição, 271",Silva do Amparo,AM,Brasil,gabrielly41@viana.net,0500-894-7196,Inativa
2,3,Duarte Ltda,Ltda. Ea,32.045.897/0001-66,6619-3/02 (Serviços financeiros),Conjunto de da Costa,Cardoso,RR,Brasil,rsouza@da.org,(041) 7515-9179,Inativa
3,4,da Mota Ltda,S.A. Ad,41.328.670/0001-19,4930-2/01 (Transporte de cargas),Vila das Neves,Teixeira,RN,Brasil,araujofelipe@costa.br,+55 61 0903 2173,Inativa
4,5,Aragão - EI Ltda,- ME Sit,14.970.286/0001-42,2063-1/00 (Fabricação de cosméticos),"Rodovia Rezende, 2",da Paz Paulista,MS,Brasil,sda-cunha@caldeira.br,51 4197 2076,Inativa

In [80]:
# Criar banco de dados 


# conectando ao banco de dados
conexao = psycopg2.connect(
    dbname ='empresas_cadastradas',
    user='postgres',
    password='TESte1234@',
    port='5432'

)

In [42]:
# Criando uma tabela de testes
# cursor = conexao.cursor()
# cursor.execute('''
#                CREATE TABLE IF NOT EXISTS funcionarios (
#                id SERIAL PRIMARY KEY,
#                nome VARCHAR(255) NOT NULL,
#                cargo VARCHAR(255)NOT NULL,
#                datacontratacao DATE NOT NULL
#                );
# ''')
# conexao.commit()

In [ ]:
cursor = conexao.cursor()

nome = input('Nome: ')
cargo = input('Cargo: ')
datacontratacao = input('Data (AAAA-MM-DD): ')

# inserindo os dados do funcionario no banco de dados
cursor.execute("INSERT INTO Funcionarios (nome, cargo, datacontratacao) VALUES (%s, %s, %s)",
(nome, cargo, datacontratacao))

conexao.commit()

cursor.close()
conexao.close()

In [55]:
cursor = conexao.cursor()

# inserir os dados
for linha in tabela_teste.values:
    nome, cargo, data = linha
    cursor.execute(
        "INSERT INTO Funcionarios (nome, cargo, datacontratacao) VALUES (%s, %s, %s)",
        (nome, cargo, data)
    )

conexao.commit()

cursor.close()
conexao.close()

In [81]:
cursor = conexao.cursor()

# inserir os dados
for registro in tabela.values:
    id, razao_social, nome_fantasia, cnpj, cnae_principal, endereco, cidade, estado, pais, email, telefone, situacao_cadastral = registro
    cursor.execute(
        "INSERT INTO empresas (id, razao_social, nome_fantasia, cnpj, cnae_principal, endereco, cidade, estado, pais, email, telefone, situacao_cadastral) VALUES (%s, %s, %s)",
        (nome, cargo, data)
    )

conexao.commit()

cursor.close()
conexao.close()

SyntaxError: INSERT has more target columns than expressions
LINE 1: ...T INTO empresas (id, razao_social, nome_fantasia, cnpj, cnae...
                                                             ^

In [79]:
conexao.close()